.contenedor {
    display: flex;       /* Activa el modo de caja flexible */
    flex-direction: row; /* Coloca la imagen a la izquierda y el texto a la derecha */
    align-items: center; /* Alinea verticalmente al centro la imagen y el texto */
    gap: 30px;           /* Crea un espacio de 15px entre la imagen y el título */
}

h1 {
    display: inline-block; /* Refuerza que no ocupe todo el ancho */
    margin: 0;
}

/* El fondo de la ventana (cubre toda la pantalla) */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7); /* Fondo negro semitransparente */
}

/* La caja blanca del centro */
.contenido-modal {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    width: 60%;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

/* El botón de cerrar (X) */
.cerrar {
    position: absolute;
    right: 15px;
    top: 5px;
    font-size: 28px;
    cursor: pointer;
}